<div class="row">
  <div class="span6">
    <h1>Listing adventures</h1>
      <%= gmaps(@gmap_options) %>
  </div>

  <div class="span2">
    <h2><a href="#">Filter By Price</a></h2>
    <div>
      <div id='price-range'></div>
      <p>
        <label for="filtered-rev">Filter by Revenue:</label>
        <input type="hidden" id="hidden-price" />
        <div id="filtered-price" ></div>
      </p>
    </div>
    <br>
    <%= select("market", "market_id", 
        Market.all.collect {|p| [ p.city, p.city, 
          {:'data-lat' => p.latitude, :'data-lng' => p.longitude}] }, 
        {},{:class=>'chzn-select', :'data-placeholder' => "Find cities!", :multiple => true }) %>
  </div>

  <div class="span4">
    <h2>Current adventures</h2>
    <ul id="sidebar_adventure_list">
    </ul>
  </div>
</div>

<script type="text/javascript">
  var Adventure = {
    min_price: <%= Adventure.min_price %>,
    max_price: <%= Adventure.max_price %>
  }
</script>