<div class="row-fluid navbar navbar-fixed-top" id="meta-bar">
  <div class="span4">
    <h1>City?</h1>
        <%= select("market", "market_id", 
        Market.all.collect {|p| [ p.city, p.city, 
          {:'data-lat' => p.latitude, :'data-lng' => p.longitude}] }, 
        {},{:class=>'chzn-select', :'data-placeholder' => "Find cities!", :multiple => true }) %>
  </div>

  <div class="span4">
    <div id="datepicker-box"><h1>Date?</h1>
    <label for="from">From</label>
    <input type="text" id="from" name="from"/>
    <label for="from">To</label>
    <input type="text" id="to" name="to"/>
  </div>
  </div>

  <div class="span4">
    <h1>Price?</h1><div id="filtered-price" ></div>
    <div id='price-range'>
    </div>
    <p>
      <input type="hidden" id="hidden-price" />
    </p>
    



    <h1>Length?</h1><div id="filtered-duration"></div>
    <div id='duration-range'>
    </div>
    <p>
      <input type="hidden" id="hidden-price" />
    </p>
  </div>

  <div class="span3">
  </div>
</div>

<div class="row-fluid" id="map_area">
  <div class="span4" id="left_list_area" >
    <div class="btn-group" id="status-toggle" data-toggle="buttons-radio">
      <button class="btn active" value="all">All Deals</button>
      <button class="btn" value="active">Active</button>
      <button class="btn" value="sold_out">Sold out</button>
    </div>
    <h2>Sort by</h2>
    <a id="sort_price" class="btn">Price</a>
    <a id="sort_sold_out" class="btn">Sold out?</a>
    <a id="sort_duration" class="btn">Duration</a>
    <ul id="sidebar_adventure_list">
    </ul>
  </div>

  <div class="span8">
      <%= gmaps(@gmap_options) %>
  </div>

  
</div>

<script type="text/javascript">
  var Adventure = {
    min_price: <%= Adventure.min_price %>,
    max_price: <%= Adventure.max_price %>
  }
</script>