// Place all the styles related to the Adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#meta-bar {
  color: black;
  @include background-image(linear-gradient(#5c5c5c, #111111));
  height: 175px;
  max-width: 100%;
}

#price_box {
  p {
    text-align: center;
    color: green;
    font-size: 1.7em;
    font-weight: 900;
  }
}

ul#sidebar_adventure_list {
  list-style-type: none;
  margin-left: 0;
  background-color: grey;

  p#status {
    color: red;
  }

  li {
    padding-bottom: 20px;
    margin-bottom: 10px;
    background-color: white;
    height: 60px;
    border-bottom: 1px solid black;

    .row-fluid {
      padding: 15px 0 15px 0;
    }
  }
  li.header {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  li:hover {
    background-color: red;
  }

  li img {
    clip: rect(0 60px 50px 10px);
    left: -10px;
    position: absolute;
  }

  li h3 {
    font-size: 12px;
    line-height: 1em;
  }

  li a {
    color: black;
  }
}

.content {
  width: 100%;
  height: 100%;
}

#map_area {
  position: static;
  top: 25px;
  bottom: 0;
  right: 0;
  left: 0;
}

#left_list_area {
  width: 360px;
  position: absolute;
  top: 175px;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.map_container {
  position: absolute;
  top: 175px;
  left: 360px;
  right: 0;
  bottom: 0;
}

img { max-width: none; }
.map_container img{max-width: none;}

.gmaps4rails_map {
  height: 100%;
}