// Place all the styles related to the Adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#meta-bar {
  color: black;
  padding: 10px 10px 10px 10px;
  @include background-image(linear-gradient(#ffffff, #ededed));
  height: 125px;
  max-width: 100%;
  @include single-box-shadow;

  h1 {
    font-size: 20px;
  }
}

.info_window {
    p#price_box {
      color: #59be17;
      font-size: 1.5em;
      font-weight: 600;
    
  }
}

.ui-slider {
  width: 50%;
}

.chzn-select {
  width: 95%;
}

#datepicker-box {
  label {
    display: inline;
  }
}
input.hasDatepicker {
  width: 35%;
}

#left_list_area {
  width: 358px;
  position: absolute;
  @include single-box-shadow;
  top: 175px;
  bottom: 0;
  left: 0;
  overflow: auto;
  @include background(
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px); 
  background-color:#282828;
  background-size:16px 16px;
}


ul#sidebar_adventure_list {
  list-style-type: none;
  margin-left: 0;
  text-shadow: white 0px 1px 0px;




  a {
    text-decoration: none;
  }
  p#status {
    color: red;
  }

  li {
    @include background-image(linear-gradient(#ffffff, #ededed));
    @include single-box-shadow;
    font-size: 16px;

    span {
      font-style: italic;
      font-size: 0.8em;
      opacity: 0.8;
    }


    .row-fluid {
      padding: 15px 0 15px 0;
    }
  }
  li.header {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  #price_box {
    p {
      color: #59be17;
      font-size: 1.5em;
      font-weight: 600;
  }
}
  li:hover {
    @include background-image(linear-gradient(#ededed, rgba(166,166,166,1)));
  }

  li img {
    clip: rect(0 60px 50px 5px);
    left: -5px;
    position: absolute;
    @include border-radius(4px);
  }

  li h3 {
    font-size: 16px;
    line-height: 1em;
  }

  li a {
    color: black;
  }
}

.content {
  width: 100%;
  height: 100%;
}

#map_area {
  position: static;
  top: 25px;
  bottom: 0;
  right: 0;
  left: 0;
}

.map_container {
  position: absolute;
  top: 175px;
  left: 360px;
  right: 0;
  bottom: 0;
}

img { max-width: none; }
.map_container img{max-width: none;}

.gmaps4rails_map {
  height: 100%;
}