// Place all the styles related to the Adventures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#meta-bar {
  color: black;
  padding: 0 10px 10px 10px;
  @include background-image(linear-gradient(#666666, #454545));
  height: 110px;
  max-width: 100%;
  text-shadow: 1px 1px black;
  @include single-box-shadow;

  #title {
    margin: 10px;
  }

  h2 {
    color: white;
  }

  h3 {
    color: white;
  }

  h1 {
    color: white;
    .call-out {
      color: #e9ba26;
    }
  }

  a {
    color: #e9ba26;
  }

  h2 {
    font-size: 16px;

  }
}

#add-on-box {
  width: 40px;
}

h1 {
  font-weight: 600;
}

#slider-box {
  color: white;
}
.slider-value {
  display: inline;
  margin-bottom: 20px;
  line-height: 1em;
}


#filtered-duration {
  text-align: right;
}

#status-toggle {
  display: inline-block;
}

#sort-toggle {
  display: inline-block;
}

.info_window {
  #available_dates {
    ul {
      margin-left: 0px;
      margin-top: 10px;
      li {
        list-style-type: none;
      }
    }
  }

  h3 {
    line-height: 1.1em;
    padding: 8px 0px 14px 0;
  }

  #date_heading {
        font-weight: bold;
      }

  p#price_box {
    color: #59be17;
    font-size: 1.7em;
    font-weight: 600;
  }
}

#slider-box {
  h2 {
    display: inline;
  }
}

.ui-slider {
  width: 40%;
}

.chzn-select {
  width: 95%;
}

.chzn-choices {
  text-shadow: none;
}

#datepicker-box {
  label {
    display: inline;
  }

  label#to {
    display: inline;
  }
}

input.hasDatepicker#from {
  width: 50%;
}

input.hasDatepicker#to {
  width: 50%;
}

#left_list_area {
  width: 358px;
  position: absolute;
  @include single-box-shadow;
  top: 120px;
  border: 1px solid black;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  @include background(
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px); 
  background-color:#282828;
  background-size:16px 16px;
}

.image-box {
      @include single-box-shadow;
      width: 45px;
      height: 40px;
      z-index: 200;
      margin-left: 8px;
    }

.button-row {
  @include background-image(linear-gradient(#666666, #454545));
  text-align:center;
  height: 35px;
  padding-top: 5px;
}

ul#sidebar_adventure_list {
  list-style-type: none;
  margin-left: 2px;
  text-shadow: white 0px 1px 0px;
  a {
    text-decoration: none;
  }
  p#status {
    color: red;
  }

  li {
    @include background-image(linear-gradient(#ffffff, #ededed));
    @include single-box-shadow;
    font-size: 16px;

    span {
      font-style: italic;
      font-size: 0.8em;
      opacity: 0.8;
    }


    .row-fluid {
      padding: 15px 0 15px 0;
    }
  }
  li.header {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 10px;
  }

  #price_box {
    p {
      color: #59be17;
      font-size: 1.5em;
      font-weight: 600;
  }
}
  li:hover {
    @include background-image(linear-gradient(#ededed, rgba(166,166,166,1)));
  }

  li img {
    clip: rect(0 50px 45px 5px);
    left: 5px;
    position: absolute;
    @include border-radius(4px);
    


  }



  li h3 {
    font-size: 16px;
    line-height: 1em;
  }

  li a {
    color: black;
  }
}

.content {
  width: 100%;
  height: 100%;
}

#map_area {
  position: static;
  top: 24px;
  bottom: 0;
  right: 0;
  left: 0;
}

.map_container {
  position: absolute;
  top: 122px;
  left: 360px;
  right: 0;
  bottom: 0;
}

img { max-width: none; }
.map_container img{max-width: none;}

.gmaps4rails_map {
  height: 100%;
}